.daily-chart-container{
    background-color:  #FBFBFB;
    padding: 24px 32px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.daily-chart-container text {
    position: absolute;
}

.daily-custom-tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
}

.daily-custom-tooltip p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

@media (min-width: 1023px) {
    .daily-chart-container{
        padding: 5px 0px 0px 15px;
        height: 53%;
    }
}
