.greetings {
    margin-bottom: 50px;
}
.greetings h1 {
    font-size: 48px;
    font-weight: 500;
    text-align: left;

    display: inline;
}

.hiUser{
    margin-bottom: 40px;
}

.nameRed {
    color: #FF0101;
}

.greeting p {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}