.topnav{
    background-color: #020203;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topnav img {
    height: 60px;
}

.topnav a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}