*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFFFF;
}

.chartsContainer {
  display: flex;
  max-height: 1000px;
  padding: 80px 100px;
  flex-direction: column;
}

section {
  width: 835px;
}

.sections-container{
  display: flex;
}

.mini-container {
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

.bottomRow{
  display: flex;
  justify-content: space-between;
}

.app-container{
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex: 1;
}

.containerrrr{
  display: flex;
  flex-direction: row;
}

.bigColomn{
  margin-right: 30px;
}
