*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFFFF;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  width: 80%;
}

.sections-container{
  display: flex;
}

.mini-container {
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

.bottomRow{
  display: flex;
  justify-content: space-between;
}

.app-container{
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex: 1;
}

.containerrrr{
  display: flex;
  flex-direction: row;
}

.bigColomn{
  margin-right: 30px;
  width: 835px;
}

@media (min-width: 1023px) {
  .bigColomn{
    margin-right: 15px;
    width: 70%;
  }
  .mini-container{
    width: 32%;
    height: auto;
  }
}